a {
    text-decoration:none;
    font-family:Helvetica Neue, sans-serif;
    font-size:40px;

}

header {
  height:20px;
  position:fixed;
  width:20%;
  z-index:10;
  top:0px;
}

#banner {
  width:150%;
  height:50px;
  position:fixed;
  top:0px;
  background:#212C31;
}

#container {
  padding-top:650px;
  height:10%;
  background:#F0F0F0;
 }

#content {
  width:100%;
  top:400px;
  height:650px;
}
.square {
    height:100%;
    width:75%;
    padding-left:25%;
    padding-right:100%
    text-align:center;
    background:#FEC4B5;
}

.Skills {
    background:#EC665B;
    width:100%;
    height:180%
}

.contact {
    background:#788F92;
    width:100%;
    height:90%;
}

p {
    font-family:Open Sans, sans-serif;
    font-size:30px;
    color:#212C31;
    font-weight:300;
    line-height:32px;
    margin: 0 0 72px;
    text-align:center;
    padding-right:50px;
}

ul {
    font-family:Open Sans, sans-serif;
    font-size:25px;
    color:#000000;
    font-weight:300;
    line-height:32px;
    margin: 0 0 72px;
    text-align:left;
}

ol {
    font-family:Open Sans, sans-serif;
    font-size:25px;
    color:#000000;
    font-weight:300;
    line-height:32px;
    margin: 0 0 72px;
    text-align:left;
}

h2 {
    font-family:Helvetica Neue, sans-serif;
    font-size:150px;
    color:#111;
    font-weight:bold;
    letter-spacing:-1px;
    line-height:1;
    text-align:center;
}
